<div class="head-content">
    <h3>CRUD Template Standards</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('template/crud/add/')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
            <li><a href="{$config->site_url('template/crud/')}" class="active">List Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th width="20%">Text</th>
        <th width="20%">Radio</th>
        <th width="20%">Select</th>
        <th width="20%">Select By References</th>
        <th width="15%"></th>
    </tr>
    {foreach from=$rs_id key=no item=result}
    <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
        <td>{$no + 1}.</td>
        <td>{$result.teks}</td>
        <td align="center">{$result.radiobaten|capitalize}</td>
        <td align="center">{$result.selekbok|capitalize}</td>
        <td>{$result.nama}</td>
        <td align="center">
            <a href="{$config->site_url({'template/crud/edit/'|cat:$result.id_data})}" class="button-edit">Edit</a>
            <a href="{$config->site_url({'template/crud/hapus/'|cat:$result.id_data})}" class="button-hapus">Hapus</a>
        </td>
    </tr>    
    {foreachelse}
    <tr>
        <td colspan="5">Empty</td>
    </tr>
    {/foreach}
</table>