<div class="head-content">
    <h3>PHP Create PDF with TCPDF</h3>
    <div class="clear"></div>
</div>
<h4>TCPDF Examples</h4>
<ol>
    <li><a href="{$config->site_url('template/pdf/simple')}" target="_blank">Simple PDF</a></li>
    <li><a href="{$config->site_url('template/pdf/bookmarks')}" title="PDF [new window]" target="_blank">Bookmarks (Table of Content)</a></li>
    <li><a href="{$config->site_url('template/pdf/css')}" target="_blank">XHTML + CSS</a></li>
</ol>
<p>
    Contoh lainnya lihat pada TCPDF Manual Document
</p>