<div class="head-content">
    <h3>PHP Excel</h3>
    <div class="clear"></div>
</div>
<h4>PHP Excel Examples</h4>
<ol>
    <li><a href="{$config->site_url('template/excel/simple')}">Simple Create Excel</a></li>
    <li><a href="{$config->site_url('template/excel/read')}">Simple Read Excel</a></li>
</ol>
<p>
    Contoh lainnya lihat pada PHP Excel Manual Document
</p>
<h4>Simple Read Excel</h4>
<ul>
    {foreach from=$rs_id key=cell item=value}
    <li><b>{$cell}</b> : {$value|upper}</li>
    {foreachelse}
    <li><b>Tidak ada data yang terbaca</b></li>
    {/foreach}
</ul>