<div class="head-content">
    <h3>Welcome to CiSmart</h3>
    <div class="clear"></div>
</div>
<p>
    CiSmart adalah hasil dari modifikasi PHP Web Framework dengan core system menggunakan CodeIgniter 2.0 dan template engine smarty 3.0.7.
    <br />
    Framework ini dimodifikasi sedemikan rupa sesuai dengan kebutuhan pengembangan software berbasis web.
    <br />
    Modifikasi mencakup development environment standards sehingga mempersatukan setiap programmmer yang terlibat untuk menggunakan standard yang sama dalam melakukan pengembangan web didalam aturan - aturan dasar CI dan Smarty sendiri.
    <br />
    Didalam standarisasi ini juga telah disediakan banyak contoh (templates) coding standards yang meliputi :
</p>
<ul>
    <li>CRUD (Create, Read, Update and Delete) Coding Standards</li>
    <li>Styles Templating</li>
    <li>Javascript Interactive</li>
</ul>