<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!-- head -->
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
        <meta name='description' content='' />
        <meta name='keywords' content='' />
        <meta name='robots' content='index,follow' />
        <title>CiSmart dan Source Code Standard</title>
        <link href="{$BASEURL}resource/doc/images/icon/shortcut_icon.jpg" rel="SHORTCUT ICON" />
        <!-- themes style -->
        <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
        <!-- other style -->
        {$LOAD_STYLE}
    </head>
    <!-- body -->
    <body class="common">
        <!-- load javascript -->
        {$LOAD_JAVASCRIPT}
        <!-- end of javascript	-->
        <!-- layout -->
        <div class="loginWrapper">
            <div class="loginBox-head">
                <h1>CiSmart dan Source Code Standard</h1>
            </div>
            <!-- content -->
            {include file="$template_content"}
            <!-- end of content -->
        </div>
        <div class="footer">
            <p>Release at 2011 PT Time Excelindo</p>
        </div>
        <!-- end of layout	-->
    </body>
    <!-- end body -->
</html>