

/* wall post */

#target {
    margin: 0 0 10px 0;
    padding: 0;
}

.wall-post {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.wall-post p{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: verdana;
}

.wall-post b{
    color: #2B60A2;
}

.wall-post img{
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    border: none;
    width: 50px;
}

.wall-post span{
    float: right;
    margin: 0;
    padding: 0;
}

.wall-post a{
    margin: 0;
    padding: 0;
    color: #C53131;
    font-weight: bold;
    text-decoration: none;
}

.wall-form{
    margin: 0;
    padding: 0;
}

.wall-form a{
    margin: 0;
    padding: 2px 4px;
    text-decoration: none;
    color: #fff;
}

.wall-form a:hover{
    text-decoration: none;
    color: #fff;
}

.wall-form textarea{
    margin: 0 0 2px 0;
    padding: 3px;
}

.wall-button{
    margin: 0;
    padding: 2px 4px;
    border: 1px solid #333;
    background-color: #2B60A2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}